.header__global-container {
    display: flex;
    justify-content: space-around;
    padding: 30px 40px;

    .header__logo {

        .header__logo-image {
            width: 182px;
        }

        .header__logo-text {

        }
    }

    .header__container {
        .header__links {
            display: flex;
            justify-content: space-around;
            gap: 40px;

            .header__link-item {
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .header__media {


        .header__media-links {
            display: flex;
            justify-content: space-around;
            gap: 20px;

            .header__media-link-item {
            }
        }
    }
}