.header {
    position: relative;
}

.header__wrapper {
    background-image: url(../img/background/background-header/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70rem;
}

.header__wrapper:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


