<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
<header class="header">
    <div class="header__wrapper">
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.nav.partial.html"></nav>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-banner.partial.html"></section>
    </div>
</header>
<main>
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.cards.partial.html"></div>
</main>
<script src="../js/index.js" type="module"></script>
</body>
</html>